:root {
    --piggyPink: rgb(245,151,160);
    --piggyTurquoise: rgb(85,166,178);
    --textGrey: rgb(60,60,60);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--textGrey);

}

section {
    text-align: center;
    max-width: 75vw;
    margin: 0 auto;
}

section p {
    font-size: 1.5em;
    font-family: 'Dosis', sans-serif;
    margin: 0 auto;
}

h1 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    color: var(--piggyPink);
    letter-spacing: 0.1em;
    margin: 1em 0 0.1em 0;
}

.column_wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 5% auto;
}

.column p {
   font-size: 1.1em;
   padding: 0.5em;
   max-width: 75%;
}

.column .flaticon-startup::before, .column .flaticon-flask::before, .column .flaticon-writing::before {
    font-size: 2.4em;
    color: var(--piggyTurquoise);
    padding: 10%;
    margin: 0 auto;
}


.column span {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-size: 1.6em;
    color: var(--piggyPink);
}



